h1 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

body {
    background-color: #3D5467;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #8AA29E;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom:1%;
    margin-left: 20%;
    left:10%;
}
#header {
    text-align: center;
    max-width: 600px;
    margin-left: 33%;
    background-color: #DB5461;
}

#names {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px; 
}


