h1 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

body {
    background-color: #3D5467;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #8AA29E;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom:1%;
    margin-left: 20%;
    left:10%;
}
#header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 1%;
    max-width: 1000px;
    margin-left: 14%;
    border: 4px solid #b15760;
    background-color: #DB5461;
}

#names {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px; 
}


